# Скопируйте в .env и заполните при необходимости
POSTGRES_DB=trendme
POSTGRES_USER=trendme
POSTGRES_PASSWORD=trendme

DEBUG=0
DJANGO_SECRET_KEY=changeme
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
